name: Build conda packages
# This workflow is triggered on pushes to the repository.
on: [push, pull_request]

jobs:
  build:
    name: Build tango-idl, cpptango and tango-test conda packages
    # This job runs on Linux
    runs-on: ubuntu-latest

    steps:
      # This step check out a copy of your repository
      - name: Check out repository code
        uses: actions/checkout@v2
      # Display OS release
      - name: Display os-release
        run: cat /etc/os-release
      # Setup miniconda
      - name: Setup miniconda
        uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          activate-environment: conda_pkg_build_env
      - name: install conda-build and conda-verify
        shell: bash -l {0}
        run: |
          conda info
          conda install conda-build
          conda install conda-verify
          conda config --add channels conda-forge
      - name: Build tango-idl Conda package
        shell: bash -l {0}
        run: |
          conda build $GITHUB_WORKSPACE/tango-idl --output-folder=$GITHUB_WORKSPACE/dist
      - name: Upload tango-idl Conda Package as artifact
        uses: actions/upload-artifact@v2
        with:
          name: tango-idl-linux-64-conda-package
          path: dist/linux-64/tango-idl*.bz2
      - name: Build cpptango Conda package
        shell: bash -l {0}
        run: |
          conda build $GITHUB_WORKSPACE/cpptango --output-folder=$GITHUB_WORKSPACE/dist
      - name: Upload cpptango Conda Package as artifact
        uses: actions/upload-artifact@v2
        with:
          name: cpptango-linux-64-conda-package
          path: dist/linux-64/cpptango*.bz2
      - name: Build tango-test Conda package
        shell: bash -l {0}
        run: |
          conda build $GITHUB_WORKSPACE/tango-test --output-folder=$GITHUB_WORKSPACE/dist
      - name: Upload tango-test Conda Package as artifact
        uses: actions/upload-artifact@v2
        with:
          name: tango-test-linux-64-conda-package
          path: dist/linux-64/tango-test*.bz2
